@import "tailwindcss";





* {
	font-family: Helvetca, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: white;
}

body {
	margin: 0;
	background-color: #545c7e;
}


#viewport {
	border-right: 0.2em solid whitesmoke;
	width: 100vh;
	height: 100vh;
	background-color: #080808;
	box-shadow: 0.3vh 0.3vh 1vh rgba(0, 0, 0, 0.3);
}
